.conteiner{
    display: flex;
    justify-content: center;

    padding: 1rem;
}

img {
    height: 8rem ;
/* propiedad para ajustar la imagen y que no pierdad la calidad */
    object-fit: cover;
}

@media (min-width: 751px) {
.card{
    width: 100%;
}
}

@media (max-width: 750px){
.card{
    width: 100%;
}
} 