@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');

.navbar{
    background-color: rgb(48, 95, 111);
    color: aliceblue; 
    
}

#tituloNavbar{
    font-family: 'Licorice';
    font-display: swap;
    font-size: 200%;
}

