.btn-action { 
    background-color: #b8bbbe
} 

.container{
    margin: auto;
    justify-content: center;
}

.row{
    justify-content: center;
}

@media (min-width: 751px) {
.card{
    width: 100%;
}
}

@media (max-width: 750px){
.card{
    width: 100%;
}
} 
